@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/80 backdrop-blur-md border border-white/20;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-gov-green-600 to-gov-blue-600;
  }
}